
@{
    ViewData["Title"] = "Kerkesat e perfunduara";
    Layout = "~/Views/Shared/_LayoutManagementView.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-4">
                <h1 class="m-0 text-dark" style="text-align:center">Nuk kemi kerkesa te perfunduara!</h1>
            </div>
        </div>
    </div>
</div>

