@{
    ViewData["Title"] = "Kerkesat ne shqyrtim";
    Layout = "~/Views/Shared/_LayoutManagement.cshtml";
}

@*<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-4">
                <h1 class="m-0 text-dark" style="text-align:center">Nuk kemi kerkesa ne shqyrtim!</h1>
            </div>
        </div>
    </div>
</div>*@

<div class="row">
    <div class="col-md-12">
        <div class="card  card-tasks">
            <div class="col-md-12">
                <div class="card-header ">
                    <br />
                    <br />
                    <br />
                </div>
                <div class="card-body ">
                    <div class="table-full-width table-responsive">
                        <h4 class="m-0 text-dark" style="text-align:center">Nuk kemi kerkesa ne shqyrtim!</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

