
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutManagementView.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                    <h1>Create</h1>
            </div>
        </div>
    </div>
</div>

