
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Web.Areas.Client.Models;
@model KerkesaViewModel
@{
    ViewData["Title"] = "AddAnkese";
    Layout = "~/Views/Shared/StudentView.cshtml";
}

<div style="padding-left:28em; padding-top:3em; padding-right:28rem;">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <form asp-area="Client" asp-action="AddAnkese" asp-controller="Home" method="post">
                        <div class="col-md-12">
                            <div class="card">
                            <div class="card-body" >
                                <div class="col-12">
                                    @*<div class="row">*@
                                    <div class="col-md-6">
                                        <div class="form-group ">
                                            <div class="input-box ">
                                                <label asp-for="DepartamentiId" style="text-align:center">Departamenti </label>


                                                <select name="DepartamentiId" asp-for="DepartamentiId" class="form-control">
                                                    <option value="" disabled selected>-- zgjedh departamentin --</option>
                                                    @foreach (var item in Model.departamentetlist)
                                                    {
                                                        <option value="@item.DepartamentiId">@item.EmriDepartamentit</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <label asp-for="PershkrimiIkerkeses"> Pershkrimi i Ankeses</label>
                                            <textarea maxlength="5001" class="form-control" id="summernote" asp-for="PershkrimiIkerkeses"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <label asp-for="PershkrimiIkerkeses"> Natyra e ankeses</label>
                                            <textarea maxlength="5001" class="form-control" id="summernote" asp-for="PershkrimiIkerkeses"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Nenshkrimi">Emri ndaj personit qe beni ankese</label>
                                            <input name="Nenshkrimi " asp-for="Nenshkrimi" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <label asp-for="PershkrimiIkerkeses"> Specifiko detajet e ankeses</label>
                                            <textarea maxlength="5001" class="form-control" id="summernote" asp-for="PershkrimiIkerkeses"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-md-4" style="float:right">
                                        <a asp-area="Client" asp-action="IndexAnkes" asp-controller="Home" class="btn  btn-default btn-xl">Cancel  </a>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="submit" class="btn btn-success btn-xl"><i class="fa fa-save"></i>  Save</button>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .form-group textarea {
        margin-top: 0px;
        margin-bottom: 0px;
        height: 141px;
    }
    .form-group input {
        margin-top: 0px;
        margin-bottom: 0px;
        height: 50px;
    }
</style>