<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="~/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
    <title>@ViewData["Title"] - AspNetCoreMvcIdentity</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
    </environment>
    @*<link rel="stylesheet" href="~/css/site.css" />*@
</head>
<body>
    <div>
        <nav class="navbar">
            
            <div class="wrapper row1">
                <header id="header" class="hoc clear">
                    <div id="logo" class="fl_left">
                     
                        <h1><a asp-controller="Home" asp-action="Index">Digital Complaints</a></h1>
                       
                    </div>
                    <nav id="mainav" class="fl_right">
                
                            <li class="active"><a href="index.cshtml">Kryefaqja</a></li>
                            <li>
                                <a class="drop" href="#">Faqet</a>
                                <ul>
                                    <li><a href="https://www.riinvest.net/">Riinvest</a></li>
                                    <li><a href="https://my.riinvest.net/Login.aspx">My Riinvest</a></li>
                                    <li><a href="https://elearning.riinvest.net/login/index.php">E-Learning</a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="drop" href="#">Sherbimet</a>
                                <ul>
                                    <li>
                                        <a class="drop" href="#">Kerkese</a>
                                        <ul>
                                            <li><a href="/Areas/Client/Views/Home/AddAnkese.cshtml">Shto Kerkese</a></li>
                                            <li><a href="#">Shiko Kerkesat</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="drop" href="#">Ankese</a>
                                        <ul>
                                            <li><a href="#">Shto Ankese</a></li>
                                            <li><a href="#">Shiko Ankesat</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h1 class="navbar-brand"> <partial name="_LoginPartial" /></h1>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </header>
            </div>
        </nav>
        <div>
            <partial name="_CookieConsentPartial" />
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <div class="wrapper row4">
            <footer id="footer" class="hoc clear">
                <div class="one_quarter first">
                    <h6 class="heading">KONTAKTI</h6>
                    <ul class="nospace linklist contact btmspace-30">
                        <li>
                            <i class="fas fa-map-marker-alt"></i>
                            <address>
                                Rr. Lidhja e Prizrenit, nr. 56, 10000 Prishtinë, Republika e Kosovës
                            </address>
                        </li>
                        <li><i class="fas fa-phone"></i> +381 (0) 38 224 322; 0800 23456</li>
                        <li><i class="far fa-envelope"></i> info@riinvest.net</li>
                    </ul>
                    <ul class="faico clear">
                        <li><a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a class="faicon-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a></li>
                        <li><a class="faicon-linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
                        <li><a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a class="faicon-vk" href="#"><i class="fab fa-vk"></i></a></li>
                    </ul>
                </div>
         
                <div class="one_quarter">
                    <h6 class="heading">RIINVEST NË MEDIA SOCIALE</h6>
                    <ul class="nospace linklist">
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                    </ul>
                </div>
                <div class="one_quarter">
                    <h6 class="heading">JETA STUDENTORE</h6>
                    <ul class="nospace clear latestimg">
                        <li><a class="" href="#">Klubet e studenteve</a></li>
                        <li><a class="imgover" href="#">Inkubatori i biznesit</a></li>
                        <li><a class="imgover" href="#">Skema e bursave</a></li>
                        <li><a class="imgover" href="#">Studimet jashte vendit</a></li>
                        <li><a class="imgover" href="#">Unioni Studentor</a></li>
                    </ul>
                </div>
            </footer>
        </div>
        <div class="wrapper row5">
            <div id="copyright" class="hoc clear">
                <p class="fl_left">Copyright &copy; 2021 - All Rights Reserved - <a href="#">Digital Complaints</a></p>
                <p class="fl_right"><a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">Kolegji Riinvest</a></p>
            </div>
        </div>

    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>

    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/layout/scripts/jquery.min.js"></script>
    <script src="~/layout/scripts/jquery.backtotop.js"></script>
    <script src="~/layout/scripts/jquery.mobilemenu.js"></script>

    @RenderSection("Scripts", required: false)
</body>

</html>
@*<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
    }

    .navbar {
        overflow: hidden;
        background-color: white;
/*        background-color: aliceblue;
*/    }

        .navbar a {
            float: left;
            font-size: 16px;
            color: white;
            text-align: center;
            text-decoration: none;
        }

    .subnav {
        float: left;
        overflow: hidden;
    }

        .subnav .subnavbtn {
            font-size: 16px;
            border: none;
            outline: none;
            color: black;
            /*            padding: 14px 16px;
    */ background-color: inherit;
            font-family: inherit;
            margin: 0;
        }

        .navbar a:hover, .subnav:hover .subnavbtn {
            background-color: aliceblue;
        }

    .subnav-content {
        display: none;
        position: absolute;
        left: 0;
        background-color: aliceblue;
        width: 100%;
        z-index: 1;
    }

        .subnav-content a {
            float: left;
            color: black;
            text-decoration: none;
        }

            .subnav-content a:hover {
                background-color: #2678c9;
                color: black;
            }

    .subnav:hover .subnav-content {
        display: block;
    }
</style>*@