@{
    var action = ViewContext.RouteData.Values["action"].ToString().ToLower();
    var controller = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    //var id = ViewContext.RouteData.Values["id"];
}

<div class="be-left-sidebar">
    <div class="left-sidebar-wrapper">
        <a href="#" class="left-sidebar-toggle">Toggle Navigation</a>
        <div class="left-sidebar-spacer">
            <div class="left-sidebar-scroll">
                <div class="left-sidebar-content">
                    <ul class="sidebar-elements">
                        <li class="divider">Menu</li>
                        <li class="@(action == "index" && controller == "home" ? "active" : "")">

                            @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
                            {
                                <a asp-action="Index" asp-controller="Home" asp-area="Management"><i class="icon mdi mdi-home"></i><span>["Dashboard"]</span></a>
                            }

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>